*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: grey;
    display: flex;
    width: 800px;
    color: white;
    align-items: center;
    padding: 5px;
    margin: 30px;
}
ul{
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap:nowrap;
}
a{
    color: white;
    text-decoration: none;
}
h1{
    flex: 1.5;
    font-weight: bold;
}
button{
    background-color: aqua;
    color: white;
    box-shadow: 2px 2px black;
}

